APP_ENV=development
APP_DEBUG=false

SMTP_HOST=xyz.cde.net
SMTP_PORT=587
SMTP_USER=max.mustermann@gmail.com
SMTP_PASS=Passwort123
SMTP_FROM_NAME="Absender"

CONTACT_EMAIL=kontakt@example.com
RENT_EMAIL=vermietung@example.com

# Kommagetrennte Liste von Google-Calendar-IDs
CALENDAR_IDS=calendar-id-1@group.calendar.google.com,calendar-id-2@group.calendar.google.com